.mat{
    width:80%;
    display: flex;
    flex-direction: column;
   margin-left: 200px;
   border:2px solid beige;
   z-index: 0;
   position: relative;
}
.add-icon{
    margin-top:-100px;
    display: flex;
    justify-content: flex-end;
    height: 50px;
 }
 .mat-icon{
     font-size: 40px;
     margin-right: 25px;
     // &:hover{
     //     background-color:#fff;
     // }
 }
 .save{
     margin-left: 130px;
 }
 .reset{
    margin-left: 210px;
    z-index: 1;
    margin-top: -65px;
    position: fixed;
 }