.add-icon{
    margin-top:-100px;
    display: flex;
    justify-content: flex-end;
    height: 50px;
 }
 .mat-icon{
     font-size: 40px;
     margin-right: 25px;
     // &:hover{
     //     background-color:#fff;
     // }
 }
 .save{
     margin-left: 70px;
 }