<!-- <mat-card-title>Users list</mat-card-title>
<table id="users" style="width:100%">
    <tr>
        <th *ngFor="let col of column">
            {{col}}
        </th>
    </tr>
    <tr *ngFor="let user of listUsers">
        <td >
            {{user.id}}
        </td>
        <td >
            {{user.name}}
        </td>
        <td >
            {{user.email}}
        </td>
        <td >
            {{user.address.city}}
        </td>
        <td>
   <a class="action-link" [routerLink]="['/users/edit',user.id]">
       <mat-icon class="mat-icon">edit</mat-icon></a>
        </td>
        <td>
            <a class="action-link" [routerLink]="['/users/view',user.id]">
                <mat-icon class="mat-icon">visibility</mat-icon></a>
            
        </td>
    </tr>
    </table> -->

    <div class="mat-elevation-z8" >
        <table mat-table [dataSource]="dataSource" class="table">    

          <ng-container matColumnDef="User Id">
            <th mat-header-cell *matHeaderCellDef> User Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Name</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
  
          <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>

          <ng-container matColumnDef="City">
            <th mat-header-cell *matHeaderCellDef> City </th>
            <td mat-cell *matCellDef="let element"> {{element.address.city}} </td>
          </ng-container>

          <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let element">
                <a class="action-link" [routerLink]="['/users/edit',element.id]">
                    <mat-icon class="mat-icon">edit</mat-icon></a>  </td>
          </ng-container>

          <ng-container matColumnDef="View">
            <th mat-header-cell *matHeaderCellDef> View </th>
            <td mat-cell *matCellDef="let element"> 
                <a class="action-link" [routerLink]="['/users/view',element.id]">
                    <mat-icon class="mat-icon">visibility</mat-icon></a> </td>
          </ng-container>
      
          <tr mat-header-row class="columns" *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row  class="rows" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

      <mat-paginator
      [length]="totalLenght"
     [pageSize]="5"
     [pageSizeOptions]="[5, 10]"
     >
</mat-paginator>