<!-- <h1 class="h1">{{title}}</h1>

<input [(ngModel)]="username" />
<h3 *ngIf="month>12">{{username}}</h3> -->
<!-- <div [ngClass]="isDarkTheme?'dark-theme':'light-theme'">
<p>
    <mat-toolbar>
     <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
     <mat-icon>share</mat-icon>
   </button>
  </mat-toolbar>
  </p> 
<mat-card>
<mat-card-content>
    <mat-slide-toggle (click)="toggleTheme()">Slide me!</mat-slide-toggle>
    </mat-card-content>
</mat-card>
<app-search></app-search>
</div> -->
<app-search></app-search>
<app-add-item></app-add-item>
  <!-- <app-add-user></app-add-user> -->
<!-- <app-list-grid></app-list-grid> -->
<!-- <app-view-user></app-view-user> -->
<router-outlet></router-outlet>
