<mat-card>
    <mat-card-title>Update User</mat-card-title>
<mat-card-content>
<div *ngIf="dataLoaded">
   
    <form [formGroup]="editUserForm" (submit)="updateUser()">
        <p>
               <mat-form-field appearance="outline">
                 <mat-label>name</mat-label>
                 <input matInput placeholder="name" formControlName="name" />
               </mat-form-field>
             </p>
             <p>
               <mat-form-field appearance="outline">
                 <mat-label>email</mat-label>
                 <input matInput placeholder="email" formControlName="email" />
               </mat-form-field>
             </p>
             <p>
               <mat-form-field appearance="outline">
                 <mat-label>city</mat-label>
                 <input matInput placeholder="city" formControlName="city" />
               </mat-form-field>
             </p>
             <p>
                <button mat-raised-button color="primary">Update</button>
             </p>
           </form>
</div>   
</mat-card-content>
</mat-card>