<!-- 
<div class="search-container">
    <form class="search-form"  (ngSubmit)="onSubmit()">
        <input class="search-input"
        name="search"
        ngModel
        placeholder="Person Id" required    />
        <button class="search-button">search</button>
    </form>
</div> -->
<div class="search">
    <form class="form" (ngSubmit)="openDialog()" >
            <input class="search-input" matInput placeholder="Person Id">
          <button mat-raised-button color="primary" class="button">
           Search
          </button>
    </form>      
</div>